<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052294222671-jgto87d1o80tfiig5g0viodskt6q3cj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052294222671-jgto87d1o80tfiig5g0viodskt6q3cj6</string>
	<key>API_KEY</key>
	<string>AIzaSyAb7T9rWOdja1YwRSkxKOCWuED5J7nY9NM</string>
	<key>GCM_SENDER_ID</key>
	<string>1052294222671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logicSoft.zeroGrau</string>
	<key>PROJECT_ID</key>
	<string>zero-grau-88c05</string>
	<key>STORAGE_BUCKET</key>
	<string>zero-grau-88c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052294222671:ios:3dc7ff746b30b162746b3a</string>
</dict>
</plist>